@using ForumApp.Mvc.Models.Shared
@using ForumApp.Mvc.Models.Post
@model PagableListViewModel<PostViewModel>

@{
    ViewBag.Title = "title";    
}

<br />

@Html.Partial("_Pagable", @Model);

<div class="row">
    @foreach (var post in @Model.Data)
    {
    <div class="well">
        @post.NumberComments -> @Html.ActionLink(@post.Text, "Index", "Forum", new { Id = post.Id }, new object { })
    </div>
    }
</div>
